html {
  scroll-behavior: auto;
}

/* Style for the header */
.header {
  display: flex;
  align-items: center;
  gap: 100px; 
  color: white;
}

.logo img {
  height: 180px;
  width: auto;
}

h1 {
  font-size: 24px;
}

/* Container for the button */
.back-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 35px;
}

/* Style for the back button */
.back-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white; 
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.back-button:hover {
  background-color: #0056b3;
}

.button-row {
  position: fixed;
  bottom: 50;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content; /* Make it fit its content */
}

.games-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(226, 146, 80);
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.games-button:hover {
  animation-name: flash;
  animation-duration: 0.5s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  background-color: yellow;
}

@keyframes flash {
  0%, 100% {
    background-color: yellow;
  }
  50% {
    background-color: black;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #262637;
}

#cocktailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.cocktail {
  flex: 0 0 calc(33.333% - 16px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  min-height: 450px;
  justify-content: space-between;
}

.cocktail img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.cocktail-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-top: 8px;
  height: 100%;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 16px;
}

.cocktail-details h2 {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.cocktail-details p {
  margin: 4px 0;
  text-align: left;
}

.cocktail .alcohol-and-kcal {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.cocktail .alcohol-and-kcal .alcohol-icon {
  color: #FBBA47;
}

.cocktail .alcohol-and-kcal .kcal-icon {
  color: #CE2F6E;
}

.cocktail .alcohol-and-kcal span {
  display: inline-block;
  margin-right: 10px; 
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.collapsible-content.collapsed {
  max-height: 500px;
}

.toggle-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.toggle-button:hover {
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.collapsible-content p {
  margin: 4px 0;
  text-align: left;
}

.cocktail-details > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 12px;
}
